# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyters
.ipynb_checkpoints/


# ==========================================
# Temporary / system files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# IDE
# ==========================================

.vscode/

# ==========================================
# Secrets / environment variables
# ==========================================

.env
.env.*
!.env.example

# ==========================================
# Logs
# ==========================================

*.log